<nav id="sidebar">
    <div class="sidebar-header">
        <h3>My options / here should be a name ect
            <
        </h3>
    </div>

    <ul class="list-unstyled components">
        <p>My libary</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Book

            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">


                <li>
                    <a href="serachBookByISBN.html">Add book</a>
                </li>
                <li>
                    <a href="#">My wishlist</a>
                </li>
                <li>
                    <a href="#">Remove book</a>
                </li>
                <li>
                    <a href="#">Serach for a book</a>
                </li>
                <li>
                    <a href="#">Buy a book</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                My libary
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Book list</a>
                </li>
                <li>
                    <a href="#">Borrow books</a>

                </li>
                <li>
                    <a href="#">Lend books</a>
                </li>
                <li>
                    <a href="#">Exchange books</a>
                </li>
                <li>
                    <a href="#">Offer books</a>
                </li>
                <li>
                    <a href="#">My wishlist</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">User options</a>
        </li>
        <li>
            <a href="#">Edit user data</a>
        </li>
        <li>
            <a href="#">Logout</a>
        </li>
    </ul>
</nav>

