<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <!--<meta charset="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->

    <title>Serach for book</title>


    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
    <title>Display Book</title>
</head>
<body>
<div class="container">
    <div class="col s12">
        <div id="side">
            <div th:insert="layout/sidemenu"></div>
        </div>
        <div id="areafield">
            <div class="row">
                <form class="col s8 right">
                    <div class="row">
                        <div class="input-field col s6">
                            <h2>Author</h2>
                            <div th:text="${autor}"></div>
                            <h2>Title</h2>
                            <div th:text="${title}"></div>

                        </div>

                    </div>


                </form>
            </div>
            <div class="button">
                <form action="/" method="get">
                    <button type="submit" class="btn btn-info" >Back to index</button>
                </form>
                <form action="/addBook" method="get">
                    <button type="submit" class="btn btn-info">Add book</button>
                    <input type="hidden" th:value="${ISBN}" name="ISBN">
                </form>
                <form action="/booksrelated/displayBookDetails" method="get">
                    <button type="submit" class="btn btn-info">Details</button>
                    <input type="hidden" th:value="${ISBN}" name="ISBN">
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>