<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <!--<meta charset="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->

    <title>Serach for book</title>


    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
    <title>Display Book</title>
</head>
<body>

<div class="container">
    <div th:insert="layout/sidemenu">"
    </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s6">
                <div class="section">
                    <p>Author: </p>
                    <h5 class="col-md-4, card-panel yellow lighten-5" th:text="${a}"></h5>
                </div>
            </div>
            <div class="col s6">
                <div class="section">
                    <p>Title: </p>
                    <h5 class="card-panel yellow lighten-5" th:text="${title}"></h5>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="col s4">
                <div class="section">
                    <p>Language: </p>
                    <h5 class="card-panel yellow lighten-5" th:text="${language}"></h5>
                </div>
            </div>
            <div class="col s4">
                <div class="section">
                    <p>Orgin language: </p>
                    <h5 class="card-panel yellow lighten-5" th:text="${orginLanguage}"></h5>
                </div>
            </div>
            <div class="col s4">
                <div class="section">
                    <p>Publisher </p>
                    <h5 class="card-panel yellow lighten-5" th:text="${publisher}"></h5>
                </div>

            </div>
            <div class="col s12">
                <div class="col s4">
                    <div class="section">
                        <p>ID: </p>
                        <h5 class="card-panel yellow lighten-5" th:text="${id}"></h5>
                    </div>
                </div>
                <div class="col s4">
                    <div class="section">
                        <p>Form of work: </p>
                        <h5 class="card-panel yellow lighten-5" th:text="${fow}"></h5>
                    </div>
                </div>
                <div class="col s4">
                    <div class="section">
                        <p>ISBN: </p>
                        <h5 class="card-panel yellow lighten-5" th:text="${isbn}"></h5>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="section">
                    <p>Publication year: </p>
                    <h5 class="card-panel yellow lighten-5" th:text="${publicationYear}"></h5>
                </div>
            </div>

        </div>
    </div>

    <form action="/serachBookByISBN" method="get">
        <button type="submit" class="waves-effect waves-light btn-large"><i
                class="large material-icons left">arrow_back</i>Back to serach
        </button>
    </form>

</div>

</body>
</html>