<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
<div class="container">
    <div th:insert="layout/default"></div>
    <h2 class="header center orange-text">Registration</h2>
    <!--<form action="/" th:object="${user}" method="post">-->
    <div>
        <form class="col s12" th:action="@{/register}" th:object="${user}" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <!--/*@thymesVar id="name" type="pl.chomik.bookshelf.controler.profile.ProfileForm"*/-->
                    <label th:text="#{label.user.name}"> Name</label>
                    <input th:field="*{name}" id="first_name" type="text" required="required" class="validate"
                           th:errorclass="invalid"/>
                    <div th:errors="*{name}" class="red-text"> Error</div>
                </div>
                <div class="input-field col s6">
                    <label th:text="#{label.user.lastName}">Last Name</label>
                    <input th:field="*{lastName}" id="last_name" type="text" required="required" class="validate"
                           th:errorclass="invalid"/>
                    <div th:errors="*{lastName}" class="red-text">Error</div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label th:text="#{label.user.email}">Email</label>
                    <input th:field="*{email}" id="email" type="email" required="required   " class="validate"
                           th:errorclass="invalid"/>
                    <div th:errors="*{email}" class="red-text">Error</div>

                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label th:text="#{label.user.password}">Password</label>
                    <input th:field="*{password}" id="password" type="password" required="required"
                           class="validate" th:errorclass="invalid"/>
                    <div th:errors="*{password}" class="red-text">Error</div>
                </div>
                <div class="input-field col s6">
                    <label th:text="#{label.user.confirmPassword}">Confirm Password</label>
                    <input th:field="*{confirmPassword}" id="confirmPassword" type="password"
                           required="required" class="validate" th:errorclass="invalid"/>
                    <div th:errors="*{confirmPassword}" class="red-text">Error</div>
                </div>
            </div>

            <div class="row s12">

                <button class="btn waves-effect-light" type="submit" name="save">Send<i
                        class="mdi-content-send right"></i></button>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>

        <form action="/signing" method="get">
            <button class="btn waves-effect-light" type="submit" name="save">Back<i
                    class="mdi-content-send right"></i></button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

        </form>

    </div>
</div>
</body>
</html>